# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.env
backend/venv/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
